body{
    font-family: Arial, sans-serif;
    background-color: #f29d5c;
    text-align: center;
}
h1{
    color: #2a0b3d;
    font-size: 100px;
p{
    /background-color: white;*/
    color: #2a4378;
}